/* @import "../node_modules/bootstrap/dist/css/bootstrap.css"; */
body {
    background-image: url("./CANINE CLUBHOUSE BACKGROUND.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }