<h1>Welcome to Canine Clubhouse <%= @user.name %>!</h1>


<h3>Your credentials are as follows:</h3>
<p>username: <%= @user.username %></p>
<p>password: <%= @user.password %></p>
<p>phonenumber: <%= @user.phone %></p>

